VITE_SUPABASE_URL=https://"Your App Domain".supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_"Your Anon Key"
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_"Your Publishable Key"

VITE_ORS_API_KEY="Your ORS API Key here"
